<footer>
  <div class="footer "><h5>Nguyen Khanh Van</h5></div>
  <style>
  footer {
    background-color: rgb(156, 152, 145);
    line-height: 80px;
    text-align: center;
    margin-top: 16px;
    color: white;
    
}
  </style>
</footer>