<div class="row d-flex justify-content-center m-5">
  <div class="col-md-10">
    <h3>Thêm tài khoản</h3>
    <form method="POST" action="/users/store">
      <div class="form-group">
        <label for="username">UsersName</label>
        <input type="text" class="form-control" id="username" name="username" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password" />
      </div>
      <div class="form-group">
        <label for="price">Email</label>
        <input type="email" class="form-control" id="email" name="email" />
      </div>
      <div class="form-group">
        <label for="avatar">Avatar</label>
        <input type="text" class="form-control" id="avatar" name="avatar" />
      </div>
       <div class="form-group">
        <label for="role">Role</label>
        <input type="number" class="form-control" id="role" name="role" />
      </div>

      <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
    </form>
  </div>
</div>